/* railways */
path.line.shadow.tag-power.tag-power-catenary_portal {
    stroke-width: 14 !important;
}

path.line.casing.tag-power.tag-power-catenary_portal {
    stroke: #666;
    stroke-linecap: butt;
    stroke-width: 6 !important;
}

path.line.stroke.tag-power.tag-power-catenary_portal {
    stroke-linecap: butt;
    stroke-width: 3;
}


.custom_color_rails path.line.stroke.tag-railway.tag-usage.tag-usage-main {
    stroke: #ff8800;
}

.custom_color_rails path.line.stroke.tag-railway.tag-usage.tag-usage-branch {
    stroke: #f6ff00;
}

.custom_color_rails path.line.stroke.tag-railway.tag-service.tag-service-yard {
    stroke: #00ffff;
}

.custom_color_rails path.line.stroke.tag-railway.tag-service.tag-service-siding {
    stroke: #00ff00;
}

.custom_color_rails path.line.stroke.tag-railway.tag-service.tag-service-crossover {
    stroke: #e15aff;
}

/*.custom_color_rails path.line.stroke.tag-railway.tag-service.tag-service-spur {*/
/*    stroke: #a85b00;*/
/*}*/



.custom_color_signals g.vertex.tag-railway-signal-main .stroke,
.custom_color_signals g.point.tag-railway-signal-main .stroke {
    fill: #ff9292 !important;
}

.custom_color_signals g.vertex.tag-railway-signal-distant .stroke,
.custom_color_signals g.point.tag-railway-signal-distant .stroke {
    fill: #f1ff7b !important;
}

.custom_color_signals g.vertex.tag-railway-signal-shunting .stroke,
.custom_color_signals g.point.tag-railway-signal-shunting .stroke {
    fill: #96bcff;
}

.custom_color_signals g.vertex.tag-railway-signal-speed .stroke,
.custom_color_signals g.point.tag-railway-signal-speed .stroke {
    fill: #9aff96;
}




path.line.shadow.tag-power.tag-railway-platform_edge {
    stroke-width: 14;
}

path.line.casing.tag-railway.tag-railway-platform_edge {
    stroke: #666;
    stroke-linecap: butt;
    stroke-width: 6;
}

path.line.stroke.tag-railway.tag-railway-platform_edge {
    stroke: #32d60d;
    stroke-linecap: butt;
    stroke-width: 3;
}


/* defaults */
.preset-icon .icon.tag-railway.other-line {
    color: #fff;
    fill: #777;
}
.preset-icon .icon.tag-railway {
    color: #555;
}

/* lines */
/* narrow widths */
path.line.shadow.tag-railway {
    stroke-width: 16;
}
path.line.casing.tag-railway {
    stroke-width: 7;
}
path.line.stroke.tag-railway {
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-dasharray: 10,8;
}
path.line.stroke.tag-railway.tag-oneway {
    stroke-dasharray: 10, 26;
    stroke-dashoffset: 5;
}
.low-zoom path.line.shadow.tag-railway {
    stroke-width: 12;
}
.low-zoom path.line.casing.tag-railway {
    stroke-width: 5;
}
.low-zoom path.line.stroke.tag-railway {
    stroke-width: 2;
    stroke-dasharray: 6, 6;
}
.preset-icon-container path.line.stroke.tag-railway:not(.tag-status),
.preset-icon-container path.line.stroke.tag-railway.tag-status-disused {
    stroke-dasharray: 6;
}

path.line.casing.tag-railway.tag-railway-platform {
    stroke-width: 0;
}
path.line.stroke.tag-railway.tag-railway-platform_edge,
path.line.stroke.tag-railway.tag-railway-platform {
    stroke-dasharray: none;
}

/* styles */
path.line.casing.tag-railway {
    stroke: #555;
}
path.line.stroke.tag-railway {
    stroke: #eee;
}

.preset-icon .icon.tag-railway.tag-status {
    color: #999;
}
path.line.casing.tag-railway.tag-status {
    stroke: #999;
}
path.line.stroke.tag-railway.tag-status:not(.tag-service) {
    stroke: #eee;
}
.preset-icon .icon.tag-railway.tag-status-disused {
    color: #808080;
}
path.line.casing.tag-railway.tag-status-disused {
    stroke: #808080;
}

path.line.casing.tag-railway-subway {
    stroke: #222;
}
path.line.stroke.tag-railway-subway {
    stroke: #bbb;
}

/* railways with `service=* tag` (e.g. sidings, crossovers, etc.) */
path.line.stroke.tag-railway.tag-service {
    stroke: #dca;
}
path.line.casing.tag-railway.tag-service {
    stroke: #666;
}
